  /*css reset*/
  *{
    margin: 0;
    padding: 0
  }
  ul,ol{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  /*css*/
  body{
            background: url(img/bg.jpg);
        }
        #container{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        #container .img{
            border: 5px #fff solid;
            -webkit-box-shadow: 2px 2px 2px  rgba(0, 0, 0, .5);
            -moz-box-shadow: 2px 2px 2px  rgba(0, 0, 0, .5);
            box-shadow: 2px 2px 2px  rgba(0, 0, 0, .5);
            position: absolute;
            top: -500px;
            left: -500px;
            background-repeat: no-repeat;
            cursor: pointer;

            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
        }
        #container span{
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            background-repeat: no-repeat;

            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
        }
        #prev, #next{
            width: 60px;
            height: 60px;
            background: #ffffff;
            opacity: .8;
            position: absolute;
            top: 50%;
            margin-top: -30px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            display: none;
        }
        #prev{
            background-image: url(img/prev.png);
            left: -20px;
            -webkit-border-radius: 0 8px 8px 0;
            -moz-border-radius: 0 8px 8px 0;
            border-radius: 0 8px 8px 0;
        }
        #next{
            background-image: url(img/next.png);
            right: -20px;
            -webkit-border-radius: 8px 0 0 8px;
            -moz-border-radius: 8px 0 0 8px;
            border-radius: 8px 0 0 8px;
        }